main {
    background: #16181d;
    margin: 0px;
}

/* Img slider */
.slider {
    height: 50%;
}

.full-img {
    width: 100%;
    height: 500px;
}

.carousel-item.full {
    height: 500px;
}

.section-content {
    width: 90%;
    padding: 2em 0em;
}

.carousel.slide.carousel-equal-heights {
    width: 100%;
}

a.link-img-carousel {
    color: transparent;
}

div#container {
    width: 90%;
}

/* BUTTONS FILTER */
.button-category {
    width: 24%;
    height: 80px;
    margin-top: 10px;
    background: linear-gradient(to bottom, black 25%, #9966ff 150%);
    color: white;
}

/* Content */
.form-select {
    width: 10%;
}