main {
    background: #16181d;
    margin: 0px;
}

/* BUTTONS FILTER */
.button-category {
    width: 24%;
    height: 80px;
    margin-top: 10px;
    background: linear-gradient(to bottom, black 25%, #9966ff 150%);
    color: white;
}

/* Content */
.img-content{
    width: 100%;
    height: 100%;
}