*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    background: #16181d;
    padding: 0;
    margin: 0px;
}

/* BUTTONS FILTER */
.button-category {
    height: 68px;
    margin-top: 10px;
    color: #FFFFFF;
    background: linear-gradient(to bottom, black 25%, #9966ff 150%);;
}

.button-category a{
    text-decoration: none;
    color:#FFFFFF; 
    font-weight: 450;
}

.button-category:hover{
    transform: scale(0.9);
    color: #FFFFFF;
    background: linear-gradient(to bottom, black 25%, #9966ff 150%);
    color: white;
}

/* Content */
.img-content{
    width: 100%;
    height: 100%;
}

.page-item.disabled .page-link,
.page-link {
    
    color: #FFFFFF;
    border: 2px solid #5A3C97;
    background-color: #16181d;
}

.page-item.active .page-link{
    border: 2px solid #5A3C97;
    color: white;
    background-color: #5A3C97;
}

.form-select {
    width: 10%;
}

.search-content-info{
    transition: transform .6s;
}

.search-content-info:hover{
    transform: scale(1.1);
    padding: 5px;
}


/*MOBILE*/
@media only screen and (max-width: 600px) {
    .button-category a{
        font-size: 15px;
    } 
    /*El area que va a ocupar la parque de 'click' */
    .button-category a p{
        font-size: 11px;
    }
    ul.pagination {
        font-size: 11px;
    }
    .page-link {
        padding: 5px;
        text-align: center;
    }
}

/*DESKTOP*/
@media only screen and (min-width: 601px) {
    .button-category a{
        font-size: 17px;
    } 
    .button-category a p{
        padding: 9px;
    }
}

@media only screen and (min-width: 1200px) {
    /*.button-category a p{
        padding: 20px;
    }*/
}