
.footer {
  background-image: linear-gradient(to bottom, black 25%, #9966ff 150%);
}
.btn-outline-light {
  border-color: transparent;
}

a.footer-links {
  margin: 7px 10px;
  text-decoration: none;
}

a.footer-links:hover {
  text-decoration: underline;
}

div.copyright {
  background-color: black;
}