html, main, body {
  background: #16181d;
  color: #FFFFFF;
}

.button-purple{
  color: #FFFFFF;
  border: 2px solid #5A3C97;
  background-color: #16181d;
}
.button-purple:hover{
  border: 2px solid #FFFFFF;
  color: white;
  background-color: #5A3C97;
}

/* Img slider */
.slider {
  height: 50%;
}

.full-img {
  width: 100%;
  height: 500px;
}

.carousel-item.full {
  height: 500px;
}

.section-content {
  width: 90%;
  padding: 2em 0em;
}

.carousel.slide.carousel-equal-heights {
  width: 100%;
}

.link-img-carousel {
  color: transparent;
}

#container {
  width: 90%;
}
.img-carousel{
  height: 500px;
}
