html, main, body {
  background: #16181d;
  color: #FFFFFF;
  font-size: 10px;
}

.button-purple,
.btn.btn-outline-danger{
  font-size: 7px;
  height: 18px;
}

.button-purple{
  color: #FFFFFF;
  border: 1px solid #5A3C97;
  background-color: #16181d;
}

.button-purple:hover{
  border: 1px solid #5A3C97;
  color: white;
  background-color: #5A3C97;
}

.btn-violet{
  color: #FFFFFF;
  border: 1.5px solid #5A3C97;
  text-align: center;
  transition: color 1s, background-color 1s;
}

.btn-violet:hover{
  color: #FFFFFF;
  background-color: #5A3C97;
  animation: boxShadow 2s infinite;
}

a {
  text-decoration: none;
}

h3.title{
  font-size: 13px;
  margin: 0;
}

h1.detail-title {
  margin: 0;
}

/* Img slider */

.carousel-item.full {
  height: 225px;
  overflow: hidden;
}

.full-img {
  width: 160px;
  height: 100%;
  border-radius: 20px;
}

.section-content {
  width: 90%;
  padding: 2em 0em;
}

.carousel.slide.carousel-equal-heights {
  width: 100%;
}

a.link-img-carousel {
  color: transparent;
}

.img-carousel {
  transition: transform .8s ease;
  width: 60px;
  height: 100%;
  border-radius: 10px;
}

.img-carousel:hover {
  transform: scale(1.2);
}

.carousel-inner {
  overflow: visible;
}

.section-content {
  width: 90%;
  padding: 2em 0em;
}

.carousel.slide.carousel-equal-heights {
  width: 100%;
}

.link-img-carousel {
  color: transparent;
}

.img-content {
  border-radius: 10px;
}

.img-profile-navbar {
  height: 15px;
  object-fit: cover;
  border-radius: 50%;
}

@keyframes boxShadow {
  50% {box-shadow: 0 5px 30px rgba(145, 92, 182, .4);}
}

.cinect-custom-alert{
  width: 100%;
  margin: 20px auto;
  animation: opacityTransition 2s infinite;
}

/* MEDIA QUERIES */
@media screen and (min-width: 350px) {
  .img-carousel {
    width: 88px;
    height: 135px;
  }
}

@media screen and (min-width: 576px) {
  html, main, body {
    font-size: 15px;
  }

  header {
    height: 70px;
  }

  .img-profile-navbar {
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
  }
  

  .full-img {
    width: 25%;
    height: 225px;
  }

  .img-carousel {
    width: 78px;
    height: 100px;
    border-radius: 10px;
  }
  
  .button-purple,
  .btn.btn-outline-danger{
    font-size: 13px;
  }

  .button-purple{
    height: 29px;
  }
}


@media screen and (min-width: 768px) {
  html, main, body {
    background: #16181d;
    color: #FFFFFF;
    font-size: 20px;
  }
  .button-purple,
  .btn.btn-outline-danger{
    font-size: 17px;
    height: 45px;
  }

  .full-img {
    width: 25%;
    height: 300px;
  }

  .img-carousel{
    height: 120px;
    width: 77px;
  }

  .carousel-item.full {
    height: 350px;
  }
}

@media screen and (min-width: 1200px) {
  html, main, body {
    font-size: 20px;
  }
  .full-img {
    width: 18%;
    height: 350px;
  }
  .img-carousel{
    height: 160px;
    width: 120px;
  }
  #container,
  #title-button {
    width: 1200px;
  }
  .button-purple{
    height: 43px;
  }
}