html, main, body {
  background: #16181d;
  color: #FFFFFF;
  font-size: 10px;
}

.button-purple{
  color: #FFFFFF;
  border: 1px solid #5A3C97;
  background-color: #16181d;
  font-size: 10px;
}
.button-purple:hover{
  border: 1px solid #FFFFFF;
  color: white;
  background-color: #5A3C97;
}

.btn-violet{
  color: #FFFFFF;
  border: 1.5px solid #5A3C97;
  text-align: center;
  transition: color 1s, background-color 1s;
}

.btn-violet:hover{
  color: #FFFFFF;
  background-color: #5A3C97;
  animation: boxShadow 2s infinite;
}

a {
  text-decoration: none;
}

/* Img slider */
.slider {
  height: 50%;
}

.img-carousel{
  height: 225px;
}

.full-img {
  width: 100%;
  height: 225px;
}

.carousel-item.full {
  height: 225px;
}

.section-content {
  width: 90%;
  padding: 2em 0em;
}

.carousel.slide.carousel-equal-heights {
  width: 100%;
}

.link-img-carousel {
  color: transparent;
}


@keyframes boxShadow {
  50% {box-shadow: 0 5px 30px rgba(145, 92, 182, .4);}
}

@media screen and (min-width: 576px) {
  html, main, body {
    background: #16181d;
    color: #FFFFFF;
    font-size: 15px;
  }

  .full-img {
    width: 100%;
    height: 350px;
  }
  
  .button-purple{
    font-size: 13px;
  }
}


@media screen and (min-width: 768px) {
  html, main, body {
    background: #16181d;
    color: #FFFFFF;
    font-size: 17px;
  }
  .button-purple{
    font-size: 17px;
  }

  .img-carousel{
    height: 350px;
  }

  .carousel-item.full {
    height: 350px;
  }
}