/* HEADER */
header {
  background-image: linear-gradient(to bottom, black 25%, #9966ff 150%);
}

.navbar {
  padding: 1px 0px;
}

.navbar-toggler {
  border: none;
}

/* Logo */

img.logo {
  width: 75px;
  height: 80%;
}

.user-profile-img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 100%;
}

.dropdown-divider {
  margin: 0.5rem 0.5rem;
}

/* MENU */
.navbar-dark .navbar-toggler {
  font-size: 16px;
}

.offcanvas-start {
  background-image: linear-gradient(to bottom, black 50%, #9966ff 150%);
}

.offcanvas-body ul {
  line-height: 2;
}

.menu-title {
  color: #9966ff;
}

ul.list-unstyled li a i.fas {
  width: 45px;
}

/* Iconos */

i.fas.fa-search,
.fas.fa-user-circle {
  font-size: 15px;
}

i.fas.fa-film,
i.fas.fa-home  {
  font-size: 28px;
  padding: 0px 7px 0px 0px;
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 15px;
  }
  i.fas.fa-search,
  .fas.fa-user-circle {
    font-size: 20px;
  }
}


@media screen and (min-width: 768px) {

  i.fas.fa-search,
  .fas.fa-user-circle {
    font-size: 25px;
  }
}