header {
  background-image: linear-gradient(to bottom, black 25%, #9966ff 150%);
}

.navbar-toggler {
  border: none;
}

img.logo {
  width: 75px;
}

.user-profile-img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 100%;
}

.dropdown-divider {
  margin: 0.5rem 0.5rem;
}

/* MENU */
.offcanvas-start {
  background-image: linear-gradient(to bottom, black 50%, #9966ff 150%);
}

.offcanvas-body ul {
  line-height: 2;
}

.menu-title {
  color: #9966ff;
}

ul.list-unstyled li a i.fas {
  width: 45px;
}

i.fas.fa-film,
i.fas.fa-home  {
  font-size: 28px;
  padding: 0px 7px 0px 0px;
}