/* HEADER */
header {
  background-image: linear-gradient(to bottom, black 25%, #9966ff 150%);
}

.navbar {
  padding: 0px 5px;
  max-height: 100%;
}

.navbar-toggler {
  border: none;
}

/* Logo */

img.logo {
  width: 75px;
  height: 65%;
}
.navbar-brand{
  width: 50px;
  height: 35px;
}

.user-profile-img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 100%;
}

.dropdown-divider {
  margin: 0.5rem 0.5rem;
}

/* MENU */
.navbar-dark .navbar-toggler {
  font-size: 10px;
}

.offcanvas-start {
  background-image: linear-gradient(to bottom, black 50%, #9966ff 150%);
}

.offcanvas-body ul {
  line-height: 2;
}

.menu-title {
  color: #9966ff;
}

ul.list-unstyled li a i.fas {
  width: 23px;
}

/* Iconos */

i.fas.fa-search {
  font-size: 9px;
}

.fas.fa-user-circle {
  font-size: 10px;
}

@media screen and (min-width: 576px) {
  .navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-height: 100%;
  }
  .navbar-dark .navbar-toggler {
    font-size: 20px;
  }
  i.fas.fa-search {
    font-size: 19px;
  }
  
  .fas.fa-user-circle {
    font-size: 20px;
  }
  ul.list-unstyled li a i.fas {
    width: 45px;
  }
  
  img.logo {
    width: 130px;
    height: 35px;
  }
}


@media screen and (min-width: 768px) {
  .navbar-dark .navbar-toggler {
    font-size: 25px;
  }
  i.fas.fa-search {
    font-size: 24px;
  }
  
  .fas.fa-user-circle {
    font-size: 25px;
  }
}