/* REGISTER */

/* Logo */
img.logo {
  width: 100px;
}

body,
.form-control,
button {
  font-size: 0.7rem;
}

/* Botones register-login*/
.nav-link,
.nav-link:hover  {
  color: white;
}

.nav-link.selectId:hover {
  color: #5a3c97;
}
.nav-link.selectId.active.show:hover {
  color: white;
}

.nav-tabs {
  border-bottom: none;
}

.nav-link:active {
  color: black;
}

section.section-signin-register ul.nav.nav-tabs {
  text-align: center;
}

/* Email o username */
.nav-link.active.selectId{
  background: #5A3C97;
}

.nav-pills a{
  color: #212529;
}

/* Cards */
div.card {
  border-top: 1px solid transparent;
  border-radius: 0rem 0rem 0.25rem 0.25rem;
}

/* Labels */
.form-label {
  margin-bottom: 0.4rem;
}

/* Inputs*/
.fa.fa-eye{ 
  border: 1px solid rgb(206, 212, 218);
  border-radius: 0px 4px 4px 0px;
}
input.form-control {
  height: 29px;
}

/* BUTTONS */
.button-purple{
  border: 2px solid #FFFFFF;
  color: white;
  background-color: #5A3C97;
  margin: 0;
}
.button-purple:hover{
  color: #5A3C97;
  background-color: white;
  border: 2px solid #5A3C97;
}

@media screen and (min-width: 576px) {
  img.logo {
    width: 200px;
  }
  body,
  .form-control,
  button {
    font-size: 1rem;
  }

  input.form-control,
  .button-purple  {
    height: 50px;
    font-size: 1rem;
  }
}


@media screen and (min-width: 768px) {
  img.logo {
    width: 200px;
  }
  body,
  .form-control,
  button {
    font-size: 1.3rem;
  }

  input.form-control,
  .button-purple  {
    height: 55px;
    font-size: 1.3rem;
  }
}