*{
    padding: 0;
    margin: 0;
}


@media only screen and (max-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    .film-card{
        width: 750px;
        margin: 4rem auto;
        border: 2px solid #513687;
        border-radius: 10px;
        overflow: hidden;
    }

    .film-card .content{
        display: flex;
        flex-direction: row;
    }

    .film-card .film-card__image img{
        width: 350px;
    }

    .film-card .film-card__information{
        margin-left: 40px;
        margin-top: 20px;
    }

    .film-card .film-card__information p {
        width: 50%;
    }

    .film-card .film-card__information textarea{
        resize: none;
        background-color: #16181D;
        color: #FFFFFF;
        border: none;
        border-bottom: 2px solid #513687;
        outline: none;
        margin-bottom: 10px;
    }
    
}