*{
    scroll-behavior: smooth;
}

h1{
    margin-left: 34px;
    margin-top: 20px;
}



.top-content--logo{
    padding: 30px;
    align-content: center;
}

.top-content--logo div{
    width: 175px;
    margin: 1rem auto;
    align-content: center;
}

.top-content--logo img{
    width: 100px;
}

.top-content--logo span{
    margin-left: 10px;
}

.cinet_top-10--content a{
    text-decoration: none;
}

@media (max-width: 600px) {
    
    
}

@media only screen and (min-device-width: 601px) and (max-device-width: 1023px) {
    .top-content--img{
        width: 300px;
        height: 500px;
        object-fit: cover;
    }
}

@media (min-width: 1024px) {
    .top-content--img{
        width: 300px;
        height: 500px;
        object-fit: cover;
    }
}