*{
    scroll-behavior: smooth;
}

h1{
    margin-left: 34px;
    margin-top: 20px;
}

.cinet_top--content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cinet_top--detail{
    border-radius: 20px;
    overflow: hidden;
}

.cinet_top--detail div img{
    transition: transform .8s, opacity .5s;
}

.cinet_top--content a{
    position: relative;
}

.cinet_top--content a p{
    transition: opacity 1s, bottom .5s;
}

.cinet_top--content a p span{
    display: block;
}

.cinet_top--content a p span{
    width: 35px;
    margin: auto;
    padding: 5px;
    border-radius: 100px;
    text-shadow:none;
    background: radial-gradient(circle, rgba(174,238,190,1) 0%, rgba(148,233,148,1) 100%);
}

.cinet_top--content p{
    text-align: center;
    position: absolute;
    bottom: 0.2rem;
    color: #5A3C97;
    font-weight: 600;
    text-shadow: 2px 0 0 #fff, -1px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    opacity: 0;
}


/*CINECT CUSTOM BANNER STYLES :D*/

.cinect-carousel--container--content{
    background-color: #16181D;
}

.cinect-carousel--container--content .accordion{
    display: flex;
    justify-content: space-around;
    max-width: 2000px;
    margin-bottom: 5rem;
    padding: 0;
}

.cinect-carousel--container--content .accordion .accordion-body{
    color: #5A3C97;
    margin-top: 60px;
}

.cinect-carousel--container--content .accordion .accordion-body span{
    font-size: 50px;
    text-shadow: 2px 0 0 #fff, -1px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.cinect-carousel--container--content .accordion .accordion-body a{
    width: 100px;
}

.cinect-carousel--container--content .accordion .accordion-body span, .cinect-carousel--container--content .accordion .accordion-body a{
    display: block;
    text-align:center;
}

.cinect-carousel--container--content .accordion .accordion-item{
    display: flex;
    border: none;
    background-color: #16181D;
}

.accordion-header .accordion-button{
    padding: 0;
    text-align: center;
    background-color: #16181D;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    box-shadow: none;
    transition: color 1s ease-in-out, background-color 1s ease-in-out, box-shadow 1s ease-in-out !important;
}

.accordion-button .accordion-button--img img{
    width: 40px;
    height: 300px;
    object-fit: cover;
    opacity: .7;
    transition: width .5s, opacity .2s;
}


.accordion-button:hover .accordion-button--img img{
    width: 200px;
    opacity: .9;
}

.accordion-button::after {
    display: none;
}


@media (max-width: 600px) {
    
    
}

@media only screen and (min-device-width: 601px) and (max-device-width: 1023px) {
    .cinet_top--content .cinet_top--detail div img{
        width: 150px;
    }
    .cinet_top--detail div img:hover{
        transform: scale(1.1);
    }
}

@media (min-width: 1024px) {
    .cinet_top--content{
        width: 85%;
        margin: auto;
    }

    .cinet_top--content .cinet_top--detail div img{
        width: 200px;
        height: 300px;
        object-fit: cover;
    }

    .cinet_top--content a:hover p{
        bottom: 0.5rem;
        opacity: 1;
    }

    .cinet_top--content a:hover .cinet_top--detail div img{
        opacity: .6;
        transform: scale(1.1);
    }

    .cinet_top--content p{
        width: 175px;
        margin-left: 10px;
    }
}
