*{
    scroll-behavior: smooth;
}

h1{
    margin-left: 34px;
    margin-top: 20px;
}

.cinet_top--content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cinet_top--detail{
    border-radius: 20px;
    /*margin-bottom: 20px;*/
    overflow: hidden;
}

.cinet_top--detail div img{
    transition: transform .8s;
}

.cinet_top--content a{
    position: relative;
}

.cinet_top--content a p{
    transition: opacity 1s, bottom .5s;
}
.cinet_top--content a p span{
    display: block;
}
.cinet_top--content a p span{
    width: 35px;
    margin: auto;
    padding: 5px;
    border-radius: 100px;
    text-shadow:none;
    background: radial-gradient(circle, rgba(174,238,190,1) 0%, rgba(148,233,148,1) 100%);
}


.cinet_top--content p{
    text-align: center;
    position: absolute;
    bottom: 0.2rem;
    color: #5A3C97;
    font-weight: 600;
    text-shadow: 2px 0 0 #fff, -1px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    opacity: 0;
}

@media (max-width: 600px) {
    
    
}

@media only screen and (min-device-width: 601px) and (max-device-width: 1023px) {
    .cinet_top--content .cinet_top--detail div img{
        width: 150px;
    }
    .cinet_top--detail div img:hover{
        transform: scale(1.1);
    }
}

@media (min-width: 1024px) {
    .cinet_top--content{
        width: 85%;
        margin: auto;
    }

    .cinet_top--content .cinet_top--detail div img{
        width: 200px;
        height: 300px;
        object-fit: cover;
    }

    .cinet_top--detail div img:hover{
        transform: scale(1.1);
    }

    .cinet_top--content a:hover p{
        bottom: 0.5rem;
        opacity: 1;
        
    }

    .cinet_top--content p{
        width: 175px;
        margin-left: 10px;
    }
}