*{
    scroll-behavior: smooth;
}

h1{
    margin-left: 34px;
    margin-top: 20px;
}

.cinet_top-10--content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


@media (max-width: 600px) {
    
    
}

@media only screen and (min-device-width: 601px) and (max-device-width: 1023px) {
    .cinet_top-10--content .cinet_top-10--detail div img{
        width: 200px;
    }
}

@media (min-width: 1024px) {
    .cinet_top-10--content .cinet_top-10--detail div img{
        width: 200px;
    }
}