i.fas.fa-star {
    color: yellow;
}

p.description {
    text-align: justify;
}


  /* STAR */

  .rating {
    width: 226px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow:hidden;
}
.rating input {
float: right;
opacity: 0;
position: absolute;
}

.rating label {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover	{
    color: orange;
    cursor: pointer;
}