main {
    margin-top: 55px;
    background: #16181d;
}
section.section-container {
    height: 50%;
}
.banner{
    width: 100%;
    height: 300px;
}
h5{
    margin: 20px 20px 5px 37px;
    color: #FFFFFF;
}

.defaultSize{
    width: 220px!important;
    height: 121px;
    padding: 0%!important;
    margin-right: 5px;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

div.container {
    padding: 0;
}

.carousel-item.full {
    height: 500px;
}

.img-carousel {
    width: 90%;
}

.full-img {
    width: 100%;
    height: 500px;
}


a.btn-floating {
    margin: 0px 10px;
}

i.fa.fa-chevron-right, 
i.fa.fa-chevron-left {
    color: white;
}

i.fa.fa-chevron-left {
    margin: 0px 7px 0px 0px;
}