.banner{
    width: 100%;
    height: 300px;
}
h5{
    margin: 20px!important;
    margin-bottom: 5px!important;
}
.row{
    margin: 20px!important;
    margin-top: 0px!important;
}
.defaultSize{
    width: 220px!important;
    height: 121px;
    padding: 0%!important;
    margin-right: 5px;
}