.slider {
    height: 50%;
}

/* Img slider */
.full-img {
    width: 100%;
    height: 500px;
}

.carousel-item.full {
    height: 500px;
}

.section-content {
    width: 90%;
    padding: 2em 0em;
}

/* Title each section */
h5{
    margin: 20px 20px 5px 37px;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

.img-carousel {
    height: 100%;
    max-width:100%;
}

/* Carrusel arrows */
a.btn-floating {
    margin: 0px 10px;
}

i.fa.fa-chevron-right, 
i.fa.fa-chevron-left {
    color: white;
}

i.fa.fa-chevron-left {
    margin: 0px 7px 0px 0px;
}