/* GENERAL*/
main {
    margin-top: 8px;
}
i.fas{
    padding: 0px 7px 0px 0px;
}
/* HEADER */ 
.dropdown-divider{
    margin: 0.5rem 0.5rem;
}

button.btn-close {
    color: #FFFFFF;
}
.offcanvas.show {
    background-color: #101214;
}

/* REGISTER */

section.section-signin-register {
    background-color: #FFFFFF;
    ul.nav.nav-tabs {
        text-align: center;
        li.nav-item {
            width: 50%;
        }
    }
}
p.small {
    background-color: red;
}

div.card {
    border-top: 1px solid transparent;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
}

/* FOOTER */
.btn-outline-light {
    border-color: transparent;
}
a.footer-links {
    margin: 7px 10px;
    text-decoration: none;
}

a.footer-links:hover {
    text-decoration: underline;
}